# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# zc00l folders
netbruter.egg-info/
dist/
build/
tests/
*.restore
*.*~
.*~
.*.*~
*~
